{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<h1>Movie Library</h1>

<p>
    Nombre de films enregistrés : {{ count }}
</p>

<a href="{{ path('app_movie_index') }}">
    Voir les films
</a>

{% endblock %}